<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zillions of cardS</title>
    <script src="scripts/jquery-2.0.3.min.js"></script>
    <script src="scripts/underscore-min.js"></script>
    <script src="scripts/backbone-min.js"></script>
    <script src="scripts/jquery.s2t.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/zx.css">
    <script src="scripts/bootstrap.min.js"></script>

    <script>
        language_id = 1;
    </script>
    <script src="scripts/languages.js"></script>
    <script src="db/abcout.db"></script>
    <script src="scripts/zxcard.js"></script>

    <script id="cardListTemplate" type="text/template">
        <%
        for (index in CardList){
            if (CardList[index].Filtered===false) {
                %>
                <a data-id='<%= CardList[index].Id %>'><span><%= CardList[index].CardName_Ch %></span></a>
                <%
            }
        }
        %>
    </script>

    <script id="filterPanelTemplate" type="text/template">
        <div class="panel" style="background-color:#f7f5fa;">
            <div class="panel-body">
                <div class="row">
                    <form action="" class="form-inline">
                        <div class="form-group" style="width:68%;">
                            <input type="text" class="form-control filter-keyword" placeholder="<%= language_packs[language_id].text_filter_keyword%>">
                        </div>
                        <div class="form-group" style="width:30%;">
                            <button type="button" class="btn btn-default btn-reset"><%= language_packs[language_id].text_filter_reset %></button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <select class="form-control filter-types">
                        <option value=''>(<%= language_packs[language_id].text_filter_all %>)</option>
                        <%
                        for (var i=0; i<filterData.Type.length; i++){
                        %>
                            <option value='<%= filterData.Type[i] %>'><%= filterData.Type[i] %></option>
                        <%
                        }
                        %>
                    </select>
                </div>
                <div class="row">
                    <div class="btn-group filter-colors" data-toggle="buttons">
                        <%
                        for (var i=0; i<filterData.Colors.length; i++){
                        %>
                            <label class='btn btn-primary btn-xs'><input type='checkbox' value='<%= filterData.Colors[i] %>'><%= filterData.Colors[i] %></label>
                        <%
                        }
                        %>
                    </div>
                </div>
                <div class="row">
                    <form action="" class="form-inline">
                        <div class="form-group" style="width:59%;">
                            <select class="form-control filter-costs">
                                <option value='-1'>(<%= language_packs[language_id].text_filter_cost %>)</option>
                                <%
                                for (var i=0; i<filterData.Cost.length; i++){
                                %>
                                    <option><%= filterData.Cost[i] %></option>
                                <%
                                }
                                %>
                            </select>
                        </div>
                        <div class="form-group" style="width:39%;">
                            <select class="form-control filter-cost-method">
                                <option value="="><%= language_packs[language_id].text_filter_equ %></option>
                                <option value=">"><%= language_packs[language_id].text_filter_gte %></option>
                                <option value="<"><%= language_packs[language_id].text_filter_lte %></option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <from class="form-inline">
                        <div class="form-group" style="width:59%;">
                            <select class="form-control filter-powers">
                                <option value='-1'>(<%= language_packs[language_id].text_filter_power %>)</option>
                                <%
                                for (var i=0; i<filterData.Power.length; i++){
                                %>
                                    <option><%= filterData.Power[i] %></option>
                                <%
                                }
                                %>
                            </select>
                        </div>
                        <div class="form-group" style="width:39%;">
                            <select class="form-control filter-power-method">
                                <option value="="><%= language_packs[language_id].text_filter_equ %></option>
                                <option value=">"><%= language_packs[language_id].text_filter_gte %></option>
                                <option value="<"><%= language_packs[language_id].text_filter_lte %></option>
                            </select>
                        </div>
                    </from>
                </div>

                <div class="row">
                    <select class="form-control filter-icons">
                        <option value=''>(<%= language_packs[language_id].text_filter_icon %>)</option>
                        <%
                        for (var i=0; i<filterData.Icon.length; i++){
                            // todo extract to languages.js
                            var iconText="";
                            switch(filterData.Icon[i]){
                                case "IG":
                                    iconText="点燃";
                                    break;
                                case "ES":
                                    iconText="觉醒之种";
                                    break;
                            }
                        %>
                            <option value='<%= filterData.Icon[i] %>'><%= iconText %></option>
                        <%
                        }
                        %>
                    </select>
                </div>

                <div class="row">
                    <select class="form-control filter-races">
                        <option value=''>(<%= language_packs[language_id].text_filter_race %>)</option>
                        <%
                        for (var i=0; i<filterData.Race.length; i++){
                            var raceIndex = getRaceIdByName(filterData.Race[i]);
                            var raceColorClass = "color-";
                            if (raceIndex<6) raceColorClass += "red";
                            else if (raceIndex<11) raceColorClass += "blue";
                            else if (raceIndex<16) raceColorClass += "golden";
                            else if (raceIndex<21) raceColorClass += "purple";
                            else if (raceIndex<26) raceColorClass += "green";
                            else if (raceIndex<30) raceColorClass += "red";
                            else if (raceIndex<34) raceColorClass += "blue";
                            else if (raceIndex<39) raceColorClass += "golden";
                            else if (raceIndex<43) raceColorClass += "purple";
                            else if (raceIndex<50) raceColorClass += "green";
                        %>
                            <option value='<%= filterData.Race[i] %>' class=<%= raceColorClass %>><%= filterData.Race[i] %></option>
                        <%
                        }
                        %>
                    </select>
                </div>

                <div class="row">
                    <select class="form-control filter-cardsets">
                        <option value=''>(<%= language_packs[language_id].text_filter_cardset %>)</option>
                        <%
                        for (var i=0; i<filterData.CardSet.length; i++){
                        %>
                            <option value='<%= filterData.CardSet[i] %>'><%= filterData.CardSet[i] %></option>
                        <%
                        }
                        %>
                    </select>
                </div>

                <div class="row">
                    <select class="form-control filter-rarities">
                        <option value=''>(<%= language_packs[language_id].text_filter_rarity %>)</option>
                        <%
                        for (var i=0; i<filterData.Rarity.length; i++){
                        %>
                            <option value='<%= filterData.Rarity[i] %>'><%= filterData.Rarity[i] %></option>
                        <%
                        }
                        %>
                    </select>
                </div>

                <div class="row">
                    <div class="btn-group filter-tags" data-toggle="buttons">
                        <%
                        for (var i=0; i<filterData.Tag.length; i++){
                        %>
                            <label class='btn btn-primary btn-xs'>
                                <input type='checkbox' value='<%= filterData.Tag[i] %>'>
                                <%= filterData.Tag[i] %>
                            </label>
                        <%
                        }
                        %>
                    </div>
                </div>

            </div>
        </div>
    </script>

    <script id="cardSummaryTemplate" type="text/template">
        <div class="row"></div>
        <div class="row">
            <select class="form-control card-summary-versions">
            <%
            for (var index in Card.Relations){

                var obj = Card.Relations[index]
                var selected = ''
                if (obj.Id===Card.Id){selected="selected"}
                //console.log(Card.Relations[index]);
                %>
                <option data-id="<%= obj.Id %>" <%= selected %>><%= obj.SerialNo %> <%= obj.Version %></option>
                <%
            }
            %>
            </select>
        </div>
        <div class="row">
            <div class="card-summary-dummyImg">
                <div class="img-rounded card-summary-image" style="background-image: url(images/card-img/<%= Card.SerialNo+Card.Img_Suffix %>.png);">
                </div>
            </div>

        </div>

        <div class="row">
            <span class="label label-default card-summary-illustrator pull-left">
                <%= Card.Illustrator %>
            </span>
            <a class="btn btn-primary btn-xs pull-right card-summary-details" target="_blank" href="http://zx.colintrinity.com/<%=encodeURIComponent(Card.CardName_Jp.replace("“","").replace("”","").replace(/[\.\ \:]/g,"-"))%>">
                <%= language_packs[language_id].text_summary_details %>
            </a>
        </div>
        <div class="row" style="text-align:right;">
        </div>
    </script>

    <script id="cardDetailsTemplate" type="text/template">
        <%
            var iconClass = ''
            var iconText = ''
            var iconDescription = ''
            if (Card.Icon === '-') {
                iconText='-'
            }
            else{
                iconClass = 'card-icon icon-' +  Card.Icon.toLowerCase()
                if (Card.Icon.toLowerCase() === 'ig') iconDescription='点燃'
                if (Card.Icon.toLowerCase() === 'es') iconDescription='觉醒之种'   
            }
        %>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row card-detail-tags" style="line-height:0px;">
            <a href="#" title="<%= Card.CardColor_Ch %>"><span class="icon"></span></a>
            <span class="label label-default"><%= Card.SerialNo %></span>
            <span class="label label-default"><%= Card.Rarity %></span>
            <span class="label label-default"><%= Card.Race %></span>
            <span class="label label-default"><%= Card.Type %></span>
        </div>
        <div class="row">
            <span class="card-detail-cardname-ch"><%= Card.CardName_Ch %></span>
        </div>
        <div class="row">
            <span class="card-detail-cardname-jp"><%= Card.CardName_Jp %></span>
        </div>
        <div class="row" style="line-height:32px;">
            <span><%= language_packs[language_id].text_details_cost %>:</span>
            <span class="card-detail-cost card-detail-fontsize-large">
                <%= Card.Cost %>
            </span>
            <span><%= language_packs[language_id].text_details_power %>:</span>
            <span class="card-detail-power card-detail-fontsize-large">
                <%= Card.Power %>
            </span>
            <span><%= language_packs[language_id].text_details_icon %>:</span>
            <a href="#" title="<%= iconDescription %>">
                <span class="card-icon card-detail-icon card-detail-fontsize-large <%= iconClass %>">
                    <%= iconText %> 
                </span>
            </a>
        </div>
        <div class="row">
            <textarea class="form-control card-detail-ability-ch" rows="6" readonly="readonly"><%= Card.Ability_Ch %></textarea>
        </div>
        <div class="row">
            <ul class="nav nav-tabs zx-card-tabs">
              <li class="active" data-tab="desc"><a href="#"><%= language_packs[language_id].text_details_description %></a></li>
              <li data-tab="neta"><a href="#"><%= language_packs[language_id].text_details_neta %></a></li>
              <li data-tab="ruling"><a href="#"><%= language_packs[language_id].text_details_ruling %></a></li>
            </ul>
            <div class="zx-tab-pages">
                <div class="card-description" data-tab="desc">
                    <textarea><%= Card.Description_Ch %></textarea>
                </div>
                <div class="card-neta" data-tab="neta" style="display:none;">
                    <textarea><%= Card.Neta %></textarea>
                </div>
                <div class="card-ruling" data-tab="ruling" style="display:none;">
                    <textarea><%= Card.Ruling %></textarea>
                </div>
            </div>
        </div>
    </script>
    
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Zillions of cardS</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a data-toggle="modal" class="nav-menu-about" href="#modal-about">About</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-menu-language" data-toggle="dropdown">Languages<b class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
            <li>
                <a href="http://zx.colintrinity.com/" style="padding:5px;" target="_blank"><img src="images/logo.jpg" ></a>
            </li>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- main-container -->
    <div class="container">

        <!-- main-left -->
        <div class="col-lg-3 col-md-4 zx-panel-filter"></div>

        <!-- main-center -->
        <div class="main-card-summary col-lg-3 col-md-3"></div>
        <div class="main-card-detail col-lg-4 col-md-3"></div>

        <!-- filter result -->
        <div class="main-filter-result col-lg-2 col-md-2" style="height:100%;">
        </div>
    </div>

    <!-- about    -->
    <div class="modal fade" id="modal-about">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Zillions of cardS</h4>
          </div>
          <div class="modal-body">
            <p><span class="about-version">Version:</span><span>1.1</span></p>
            <p><span class="about-count">Cards in Database: </span><span class="about-card-count"></span><span class="about-count-uniq"></span><span class="about-card-count-total"></span><span class="about-count-total"></span></p>
            
            <p><span class="about-designer">Powered by:</span><a href="#">Larvata</a></p>
            <p><span class="about-site">Project Site:</span><a target="_blank" href="https://github.com/larvata/Zillions-of-cardS">https://github.com/larvata/Zillions-of-cardS</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>